.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__pgKd8 {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-K0DJcYC3M-aPia);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__pgKd8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__pgKd8 > :global(.__wab_flex-container) > *,
.freeBox__pgKd8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pgKd8 > :global(.__wab_flex-container) > picture > img,
.freeBox__pgKd8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pgKd8 {
    width: 100%;
    height: auto;
    max-width: var(--token-K0DJcYC3M-aPia);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pgKd8 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pgKd8 > :global(.__wab_flex-container) > *,
  .freeBox__pgKd8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pgKd8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__pgKd8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__gCiqw {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__gCiqw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gCiqw > :global(.__wab_flex-container) > *,
.freeBox__gCiqw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gCiqw > :global(.__wab_flex-container) > picture > img,
.freeBox__gCiqw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gCiqw {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gCiqw > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gCiqw > :global(.__wab_flex-container) > *,
  .freeBox__gCiqw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gCiqw > :global(.__wab_flex-container) > picture > img,
  .freeBox__gCiqw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__rLgmg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___5KAlg {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5KAlg {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__cY0N {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cY0N {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__n1BoH {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__n1BoH {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__nndm {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nndm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__nndm > :global(.__wab_flex-container) > *,
.freeBox__nndm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nndm > :global(.__wab_flex-container) > picture > img,
.freeBox__nndm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button___6Hof:global(.__wab_instance) {
  position: relative;
}
.svg__l0G0L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ivqxc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__ogWe2:global(.__wab_instance) {
  position: relative;
}
.svg___8Ejos {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___8SnE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__gejYn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__fNZkE {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fNZkE > picture > img {
  object-fit: cover;
}
.img__fNZkE > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__srvTz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__srvTz {
    width: 100%;
  }
}
.freeBox__znyNl {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__znyNl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__znyNl > :global(.__wab_flex-container) > *,
.freeBox__znyNl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__znyNl > :global(.__wab_flex-container) > picture > img,
.freeBox__znyNl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__znyNl {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__znyNl > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__banJd {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__hHLgz {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__pcj7K:global(.__wab_instance) {
  position: relative;
}
.svg__a3TYi {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__w8Zjk {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__iktR:global(.__wab_instance) {
  position: relative;
}
.svg__b6QAo {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__y1Aeo {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___0Gbvb:global(.__wab_instance) {
  position: relative;
}
.svg__qz2Q {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__sq4Xh {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__ynzZv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ynzZv {
    width: 100%;
  }
}
.img__kh4Q {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__kh4Q > picture > img {
  object-fit: cover;
}
.img__kh4Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__hIraI {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__hIraI > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__hIraI > :global(.__wab_flex-container) > *,
.freeBox__hIraI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hIraI > :global(.__wab_flex-container) > picture > img,
.freeBox__hIraI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__uYoAd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__umJj8 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-9jTxX55C6C_T_5);
}
.svg__ghqcW {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___8J38R:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dnFrQ {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-9jTxX55C6C_T_5);
}
.svg__wQoLp {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__pu9Np:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__niUgw {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-9jTxX55C6C_T_5);
}
.svg__uCoM {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__na47N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___2KvZj {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-9jTxX55C6C_T_5);
}
.svg__illGg {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__c8KMh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__gq09C {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-9jTxX55C6C_T_5);
}
.svg___7F4Yl {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__rAGn5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ty8Ng {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-9jTxX55C6C_T_5);
}
.svg___3HSi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__sbb24 {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-N0El34laL6uCVk);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__t3T7T {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__t3T7T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__t3T7T > :global(.__wab_flex-container) > *,
.freeBox__t3T7T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t3T7T > :global(.__wab_flex-container) > picture > img,
.freeBox__t3T7T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__wJLiL {
  flex-direction: row;
  display: flex;
}
.freeBox__wJLiL > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__wJLiL > :global(.__wab_flex-container) > *,
.freeBox__wJLiL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wJLiL > :global(.__wab_flex-container) > picture > img,
.freeBox__wJLiL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__o3Go {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__kjYM {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__gTrcU {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__xxiki {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___4Anew {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
