.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__jm62H {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-N0El34laL6uCVk);
}
.freeBox___8VJfE {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-K0DJcYC3M-aPia);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___8VJfE > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___8VJfE > :global(.__wab_flex-container) > *,
.freeBox___8VJfE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8VJfE > :global(.__wab_flex-container) > picture > img,
.freeBox___8VJfE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8VJfE {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8VJfE > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8VJfE > :global(.__wab_flex-container) > *,
  .freeBox___8VJfE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8VJfE > :global(.__wab_flex-container) > picture > img,
  .freeBox___8VJfE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__mByp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__mByp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mByp > :global(.__wab_flex-container) > *,
.freeBox__mByp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mByp > :global(.__wab_flex-container) > picture > img,
.freeBox__mByp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink___6WFrx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__f7MxW {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox___8A8Dr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___7OD {
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link___7OD:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__yReJ {
  position: relative;
  font-size: 14px;
  color: var(--token-FtpSHKvwC2XQB8);
}
.link__jaRbl {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__jaRbl:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__e7HFo {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__e7HFo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__e7HFo > :global(.__wab_flex-container) > *,
.freeBox__e7HFo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e7HFo > :global(.__wab_flex-container) > picture > img,
.freeBox__e7HFo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7HFo {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7HFo > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e7HFo > :global(.__wab_flex-container) > *,
  .freeBox__e7HFo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__e7HFo > :global(.__wab_flex-container) > picture > img,
  .freeBox__e7HFo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__kuvPv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__kuvPv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kuvPv > :global(.__wab_flex-container) > *,
.freeBox__kuvPv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kuvPv > :global(.__wab_flex-container) > picture > img,
.freeBox__kuvPv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__pg5ZK {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__f3VEd {
  font-size: 14px;
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
}
.root .link__f3VEd:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xx22 {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__xx22:hover {
  color: var(--token-NEon4Y--Z);
}
.link__oNo {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__oNo:hover {
  color: var(--token-NEon4Y--Z);
}
.link__uIjEz {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__uIjEz:hover {
  color: var(--token-NEon4Y--Z);
}
.link__j5Ya9 {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__j5Ya9:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__jTpVl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__jTpVl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jTpVl > :global(.__wab_flex-container) > *,
.freeBox__jTpVl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jTpVl > :global(.__wab_flex-container) > picture > img,
.freeBox__jTpVl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__iYoz1 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__nUoPv {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__nUoPv:hover {
  color: var(--token-NEon4Y--Z);
}
.link__y3EwV {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__y3EwV:hover {
  color: var(--token-NEon4Y--Z);
}
.link___0CnaN {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link___0CnaN:hover {
  color: var(--token-NEon4Y--Z);
}
.link___8Sj68 {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link___8Sj68:hover {
  color: var(--token-NEon4Y--Z);
}
.link__eXmF7 {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__eXmF7:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__oBs7 {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__oBs7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oBs7 > :global(.__wab_flex-container) > *,
.freeBox__oBs7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oBs7 > :global(.__wab_flex-container) > picture > img,
.freeBox__oBs7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mWnK4 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__xUmcW {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__xUmcW:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vGZfL {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__vGZfL:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mTvyf {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__mTvyf:hover {
  color: var(--token-NEon4Y--Z);
}
.link__twXfB {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__twXfB:hover {
  color: var(--token-NEon4Y--Z);
}
.link__uzJho {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link__uzJho:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__dwC69 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__dwC69 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dwC69 > :global(.__wab_flex-container) > *,
.freeBox__dwC69 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dwC69 > :global(.__wab_flex-container) > picture > img,
.freeBox__dwC69
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__cUswc {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text___7Mcgw {
  position: relative;
  font-size: 14px;
  color: var(--token-FtpSHKvwC2XQB8);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__phjAh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__frL1S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__nllX {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg___1Kn1U {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__y0ObD {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-N0El34laL6uCVk);
}
.freeBox__doeiZ {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-K0DJcYC3M-aPia);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__doeiZ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__doeiZ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__doeiZ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__doeiZ > :global(.__wab_flex-container) > *,
  .freeBox__doeiZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__doeiZ > :global(.__wab_flex-container) > picture > img,
  .freeBox__doeiZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__by80W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__tsmSw {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  height: auto;
  font-size: 14px;
}
.root .link__tsmSw:hover {
  text-decoration-line: underline;
}
.link___8LrVw {
  position: relative;
  color: var(--token-FtpSHKvwC2XQB8);
  font-size: 14px;
}
.root .link___8LrVw:hover {
  text-decoration-line: underline;
}
.text__q0Vfv {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-FtpSHKvwC2XQB8);
}
.freeBox__abfzt {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__abfzt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__abfzt > :global(.__wab_flex-container) > *,
.freeBox__abfzt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__abfzt > :global(.__wab_flex-container) > picture > img,
.freeBox__abfzt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__kUiY2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__zvEfo {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__zvEfo:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink___7Lq3N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qimJs {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__qimJs:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__iUjCb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xHxGn {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__xHxGn:hover {
  color: var(--token-dph1wZ7NjV9);
}
